body{
    margin: 0px;
    font-family: 'Rubik', sans-serif;
    background: linear-gradient(to right, transparent 30px, var(--bg-color-line) 0, var(--bg-color-line) 31px, transparent 0, transparent 100%);
    line-height: 1.6;
}

h1{
    margin: 0px;
    font-size: 1.5rem;  
}

h2{
    font-weight: 900;
    font-size: 16px;
    margin: 30px 0px 0px 25px;
    text-decoration: overline;
}

.btnContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button{
    padding: .625rem 1.25rem;
    text-align: center;
    font-weight: 600;
    font-size: .875rem;
    color: #202d4e;
    border: solid 1px #202d4e;
    background: #fff;
    cursor: pointer;
}

button:hover{
   background-color: #202d4e; 
   color: #fff;
}

.headbar{
    background-color: #202d4e;
    color: #fff;
    display: flex;
    width: 100%;
    padding: 16px;
    justify-content: center;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.25);
}


.sketchpad{
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 10px;
    width: 700px;
    height: 700px; 
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.25);
}

.block{
    width: 6.0%;
    border: gray solid 0.5px;
    text-align: center;
}

footer{
    color: #202d4e;
    font-size: small;
    text-align: center;
}